:root {
    --default: #414652;
    --empty: #939B9F;
    --wrong: #CEB02C;
    --right: #6AAA64;
    --initial: #3b4150;
}

* {
    background-color: var(--default);
}

#game {
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, auto);
}

.box {
    background-color: var(--initial);
    width: 100px;
    height: 100px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-size: 3rem;
    border-radius: 10px;
}

.box.empty {
    background-color: var(--empty);
}

.box.wrong {
    background-color: var(--wrong);
}

.box.right {
    background-color: var(--right);
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

